$gutter-width: 1rem !default;
$outer-margin: 2rem !default;

$grid-config: (
 'column-count' : 12,
 'column-selector': '.col',
 'offset-modifier': 'offset',
 'gutter-compensation': (($gutter-width / 2) * -1),
 'half-gutter-width': ($gutter-width / 2)
);

$width: (
  'xs': 30,
  'sm': 48,
  'md': 62,
  'lg': 75
);

$viewport: (
  'xs': #{map-get($width, 'xs')}rem,
  'sm': #{map-get($width, 'sm')}rem,
  'md': #{map-get($width, 'md')}rem,
  'lg': #{map-get($width, 'lg')}rem,
);

$delimiters: (
  'block': '-',
  'element': '-',
  'modifier': '-'
);

$default-query: #{map-get($viewport, 'xs')} !default;

$sizes: (
  'xs': 'xs',
  'sm': 'sm',
  'md': 'md',
  'lg': 'lg'
);

$queries: (
  #{map-get($sizes, 'xs')}:#{map-get($viewport, 'xs')},
  #{map-get($sizes, 'sm')}:#{map-get($viewport, 'sm')},
  #{map-get($sizes, 'md')}:#{map-get($viewport, 'md')},
  #{map-get($sizes, 'lg')}:#{map-get($viewport, 'lg')}) !default;

$properties: (
  'column': ('flex-basis', 'max-width'),
  'offset': ('margin-left')
);

// # Colors

// ## Brand Color Variables

// define the base (default) color key
$brand-color-key: 'base'!default;

// keep color variables organized in a Sass `map`
// give each color a semantic name describing its role
$brand-colors: (
  'primary' : (
    'base' : #607D8B,
    'light' : #CFD8DC,
    'dark' : #455A64
  ),

  'accent' : (
    'base' : #9E9E9E
  ),

  'text' : (
    'base' : #B6B6B6,
    'dark' : #727272,
    'darker' : #212121
  )
);

// aggregate different semantic levels of opacity used in a
// project's design with Sass maps
$brand-opacity: (

  'light': .8, // opacity used with lighter colors
  'dark':  .4   // opacity used with darker colors
                // ... et cetera
);

// set tint/shade interval for use with the opacity level utility
// function
$color-interval: 10% !global;

// # Buttons

// ## Button Variables
// for relating component specific-values to others and preventing
// magic numbers
$button-padding: .5rem 1rem;
$button-font-size: type-scale(-1);                // utility function
$button-bgcolor: brand-color('primary');
$button-border-width: 1rem;
$button-color-hover: brand-color('primary', 'light');
$button-height: line-height(1);
