// # Scaffolding Variables

// ** background color for `<body>`
$body-bg: brand-color-level('primary', 'light', 2);
// ** global text color on `<body>`
$text-color: brand-color('text', 'darker');

// ** global textual link color-interval
$link-color: brand-color('primary', 'base');
// ** link decoration
$link-decoration: none;
// ** link hover color
$link-hover-color: brand-color-level('primary', 'base', 2);
// ** link hover decoration
$link-hover-decoration: underline;

$body-margin: 0;

// # Component Variables
// These are common variables such as common padding and border
// radius sizes and more.
$padding-base-vertical: type-scale(-3);
$padding-base-horizontal: type-scale(-1);

$padding-large-vertical: type-scale(-2);
$padding-large-horizontal: type-scale(0);

$padding-small-vertical: type-scale(-4);
$padding-small-horizontal: type-scale(-2);

$line-height-large: line-heights(-1);
$line-height-small: line-heights(1);

$border-radius-base: type-scale(-5);
$border-radius-large: type-scale(-3);
$border-radius-small: type-scale(-6);

// ** Global color for active items (e.g., navs or dropdowns)
$component-active-color: brand-color('primary', 'light');
// ** Global background color for active items (e.g., navs or dropdowns)
$component-active-color: brand-color('primary', 'base');

$component-box-shadow: 0 $base-unit $base-unit rgba(0, 0, 0, .05);

// # Buttons

// ## Button Variables
// for relating component specific-values to others and preventing
// magic numbers
$button-padding: .5rem 1rem;
$button-bgcolor: brand-color('primary');
$button-border-width: 1rem;
$button-color-hover: brand-color('primary', 'light');
$button-height: line-height(1);

// # Panels

$panel-bg: brand-color('primary', 'light');
$panel-body-padding: line-height(0);
$panel-heading-padding: line-height(-2) line-height(0);
$panel-footer-padding: $panel-heading-padding;
$panel-border-radius: $border-radius-base;

$panel-border-width: $base-unit;
$panel-border-style: solid;
$panel-border-color: transparent;
$panel-border: $panel-border-width $panel-border-style $panel-border-color;

$panel-box-shadow: $component-box-shadow;

// ** Border color for elements within panels
$panel-inner-border: brand-color('accent', 'base');
$panel-footer-bg: brand-color('text', 'base');

$panel-default-text: brand-color('text', 'darker');
$panel-default-border: brand-color('primary', 'base');
$panel-default-heading-bg: color-brand('text', 'base');

// ## Code
$code-bg-color: brand-color('code', 'base');
$code-color: brand-color('text', 'darker');

$code-font-size: type-scale(-1);

$code-padding: type-scale(-6) type-scale(-5);

$code-border-width: $base-unit;
$code-border-style: solid;
$code-border-color: brand-color('code', 'base', 'dark');
$code-border: $panel-border-width $panel-border-style $panel-border-color;

$pre-scrollable-max-height: 9999px;

// # Jumbotron
$jumbotron-padding: line-height(-2);
$jumbotron-margin: $jumbotron-padding;

$jumbotron-color: brand-color('text', 'darker');
$jumbotron-heading-color: brand-color('text', 'darker');
$jumbotron-bg: brand-color('primary', 'light');

$jumbotron-hr-border-color: brand-color('primary', 'light', 'light');

// # Forms

// ** `<input>` background color
$input-bg: brand-color('primary', 'light');
// ** `<input disabled>` background color
$input-bg-disabled: $text-muted;

// ** Text color for `<input>`'s
$input-color: brand-color('text', 'darker');
// ** `<input>` border color
$input-border: brand-color('primary', 'light', 'light');

// ** Default `.form-control` border radius
// This has no effect on `<select>`'s in some browsers due to
// limited control over `<select>` in `CSS`
$input-border-radius-base: $border-radius-base;
// ** Large `.form-control` border radius
$input-border-radius-large: $border-radius-large;
// ** Small `.form-control` border radius
$input-border-radius-small: $border-radius-small;

// ** Border color for inputs on focus
$input-border-focus: brand-color('primary', 'dark');

// ** Placeholder text color
$input-color-placeholder: brand-color('text', 'dark');

// ** Default `.form-control` height
$input-height-base: line-height(0);
// ** Large `.form-control` height
$input-height-large: line-height(2);
// ** Small `.form-control` height
$input-height-small: line-height(-2);

// ** `.form-group` margin
$form-group-margin-bottom: type-scale(0);

$legend-color: brand-color('text', 'dark');
$legend-border-color: brand-color('text', 'dark', 'dark');

// ** Background color for textual input addons
$input-group-addon-bg: $text-muted;
// ** Border color for textual input addons
$input-group-addon-border-color: $input-border;

// ** Disabled cursor for form controls and buttons
$cursor-disabled: not-allowed;
