// # Scaffolding

// ## Body Reset
body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $font-size-base;
  line-height: line-height(0);
  margin: $body-margin;
}

// ## Links
a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}
